/* FONT FACE */
/* Appelle les polices de la page */

/*GLOBAL */
/* Balises et class appelés à plusieurs endroits dans la page */
body {
	font-family: 'Cabin', sans-serif;
	width: 100%;
	margin: 0 auto;
	background-color: white;
}

a {
	color: #2D7EB5;
}

a:visited {
	color: #2D7EB5;
}

@-webkit-keyframes bounce {
	from,
	20%,
	53%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  
	40%,
	43% {
	  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
	  transform: translate3d(0, -30px, 0) scaleY(1.1);
	}
  
	70% {
	  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
	  transform: translate3d(0, -15px, 0) scaleY(1.05);
	}
  
	80% {
	  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
	  transform: translate3d(0, 0, 0) scaleY(0.95);
	}
  
	90% {
	  -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
	  transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
  }
  @keyframes bounce {
	from,
	20%,
	53%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  
	40%,
	43% {
	  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
	  transform: translate3d(0, -30px, 0) scaleY(1.1);
	}
  
	70% {
	  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
	  transform: translate3d(0, -15px, 0) scaleY(1.05);
	}
  
	80% {
	  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
	  transform: translate3d(0, 0, 0) scaleY(0.95);
	}
  
	90% {
	  -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
	  transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
  }
  .animate__bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
  }

/* HEADER */
/* Ce qui concerne le header et la nav */
header {
	align-items: center;
	background: linear-gradient(180deg, rgb(253, 230, 251) 0%, rgba(253, 230, 251, 0) 100%);
	border: 1px none;
	display: flex;
	justify-content: space-between;
	padding: 2rem;
	width: 100%;
}

.nav1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px none;
	gap: 6rem;
	width: 30%;
}

.nav1 img {
	width: 2rem;
}

.header-link a {
	color: black;
	padding: 10px;
	border-radius: 5px;
	width: 12.5rem;
	text-transform: uppercase;
	font-weight: bolder;
}

.mobile-cm-link {
	display: none;
}

.header-link a:hover {
	margin: 1rem;
}

.logo {
	align-self: center;
	width: 20%;
	max-width: 300px;
}

.hdr-main-divider{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* MAIN */
/* Ce qui concerne le corps du site */

/* HOME PAGE */

main {
	font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
	padding-top: 1%;
	position: relative;
}

.img-titre-main1 img {
	width: 60%;
}

.img-titre-main2 img {
	width: 80%;
}

.personnage-illustration {
	width: 50%;
	display: flex;
    align-items: center;
    flex-direction: column;
}

.personnage-illustration img {
	width: 60%;
}

.parallax-home {
	/* l'image en fond qui sera fixé */
	background-image: url("../img/piano-illustration.jpg");

	/* la hauteur de l'image */
	min-height: 40rem; 
  
	/* On crée l'effet parallax sur le scroll de la souris */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-flex-home{
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.flex-home {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.home-article {
	margin: 2rem;
	padding: 0 1%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
}

.home-article h1 {
	font-size: 1.5em;
}

.home-article p {
	text-align: justify;
}

.home-article .photo-illust-CM {
	width: 50%;
	border-radius: 3%;
	margin: 0 auto;
}

.flex-home-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin: 0 auto 6rem;
}

#flyer-section img {
	width: 80%;
	border-radius: 3%;
}

/* ABOUT US PAGE */

.parallax-aboutUs {
	/* l'image en fond qui sera fixé */
	background-image: url("../img/scene-illustration.jpg");
	opacity: 0.8;

	/* la hauteur de l'image */
	min-height: 30rem;
  
	/* On crée l'effet parallax sur le scroll de la souris */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-aboutUs-2 {
	/* l'image en fond qui sera fixé */
	background-image: url("../img/mic-1003559.jpg");
	opacity: 0.8;

	/* la hauteur de l'image */
	min-height: 30rem;
  
	/* On crée l'effet parallax sur le scroll de la souris */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-aboutUs-3 {
	/* l'image en fond qui sera fixé */
	background-image: url("../img/atelier-dessin-illustration.jpg");
	opacity: 0.8;

	/* la hauteur de l'image */
	min-height: 30rem;
  
	/* On crée l'effet parallax sur le scroll de la souris */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.profile-pic1 {
	width: 40rem;
	border-radius: 3%;
}

.profile-pic2 {
	width: 40rem;
	border-radius: 3%;
}

.profile-pic3 {
	width: 30rem;
	border-radius: 3%;
}

.profile-pictures section {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 5rem auto;
	width: 100%;
	gap: 10rem;
}

.profile-pictures h1 {
	font-size: 2em;
	font-family: 'Redressed', cursive;
	margin-top: 0;
}

.profile-description {
	text-align: justify;
	width: 50%;
}

.pierre-description {
	margin: 20rem auto 20rem !important;
}

.marwa-description {
	display: flex !important;
	margin: 20rem auto 20rem !important;
	gap: 5rem !important;
}

/* nos-CM PAGE */

.youtube-player {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 10rem auto 0;
	gap: 5rem;
	width: 100%;
	padding: 2rem;
}

.cm-desription {
	width: fit-content;
}

.cm-desription h1 {
	margin-top: 0;
	text-decoration: none;
}

.video-indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.video-indicator p {
	font-size: 1.5em;
	font-weight: bold;
	text-align: left !important;
	text-decoration: underline;
}

.video-indicator img {
	width: 12rem;
}

.youtube-player p {
	max-width: 80rem;
	text-align: justify;
	margin-bottom: 5rem;
}

.youtube-frame iframe {
	margin-bottom: 5rem;
	max-width: 85rem;
	max-height: 43rem;
}

.fiche-technique {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 15rem;
	max-width: 50%;
}

.fiche-technique ul {
	padding-inline-start: 1.8rem;
}

/* PAGE NOUS CONTACTER */

.nous-contacter {
	min-height: 40rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.nous-contacter h1 {
	text-decoration: underline;
}

.mail-bold {
	font-weight: bold;
	text-decoration: underline;
}

#myInput {
	display: none;
}

#copyMailButton {
	cursor: pointer;
	border: none;
	font-family: 'Cabin', sans-serif;
	height: 3rem;
}

#copyMailButton:hover {
	border: 0.5px solid rgba(79,41,71,0.8);
}

.parallax-contact {
	/* l'image en fond qui sera fixé */
	background-image: url("../img/mic-1003559.jpg");

	/* la hauteur de l'image */
	min-height: 50rem;
  
	/* On crée l'effet parallax sur le scroll de la souris */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pointer-button {
	width: 1.8rem;
	margin-top: 0.5rem;
	color: white;
}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

/* FOOTER */
/* Ce qui concerne le footer */


/* Media Queries */


/* Laptop screen adaptation */
@media screen and (max-width: 1600px) {
	
	/* Header */

	.nav1 {
		width: fit-content;
	}

	.hdr-main-divider {
		margin-bottom: 6rem;
	}

	.hdr-main-divider img {
		max-width: 80%;
	}
	
	/* Page à propos de nous */

	.marwa-description {
		gap: 2rem !important;
		padding: 0 2rem;
	}

	.marwa-description .profile-description p, .marwa-description .profile-description h1 {
		width: 90%;
		margin: 0 auto;
	}
	
	.marwa-description .profile-description {
		padding-right: 0;
	}

	/* Page nos CM */

	.youtube-player {
		padding: 0 2rem;
	}

	.youtube-frame iframe {
		width: 60rem;
		height: 40rem;
	}
	.fiche-technique {
		margin: 0 2rem;
	}
}

/* Tablet screen adaptation */

@media screen and (max-width: 1100px) {

	/* Header */
	.nav1 {
		gap: 2rem;
	}

	.nav1 a:hover {
		margin: 0;
	}

	/* About us page */

	.profile-pictures section {
		padding: 0 2rem;
		gap: 3rem;
	}

	.pierre-description {
		gap: 5rem !important;
	}

	.marwa-description {
		flex-direction: column;
		align-items: center !important;
		margin-top: 10rem !important;
	}

	/* Nos CM */

	.video-indicator p {
		margin: 0;
	}

	.video-indicator img {
		display: none;
	}

	.youtube-player {
		flex-direction: column;
		align-items: center;
		margin-top: 5rem;
	}

	.youtube-frame iframe {
		width: 80rem;
		height: 50rem;
	}

	.fiche-technique {
		max-width: 80rem;
		align-items: center;
		margin: 0 auto;
	}

}

/* Mobile screen adaptation */

@media screen and (max-width: 760px) {
	/* Header */

	header {
		flex-direction: column-reverse;
		align-items: center;
		gap: 5rem;
	}

	.nav1 {
		align-items: center;
	}

	.mobile-cm-link {
		display: block;
	}

	.desktop-cm-link {
		display: none;
	}

	.logo {
		width: 45%;
	}

	/* Home page */

	.flex-home {
		flex-direction: column;
		align-items: center;
	}

	.home-article {
		width: 80%;
	}

	.img-titre-main1 img {
		width: 100%;
	}

	.img-titre-main2 img {
		width: 35rem;
		margin-left: -2rem;
	}

	.personnage-illustration {
		width: 100%;
	}

	.main-flex-home section:nth-child(2) {
		flex-direction: column-reverse;
		margin-top: 5rem;
	}

	#flyer-section h1 {
		text-align: center;
		font-size: 2.5rem;
	}

	#flyer-section img {
		width: 100%;
	}


	/* About us Page */
	.profile-pictures section {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		margin-top: 0;
	}

	.profile-description {
		width: 80%;
	}

	.pierre-description {
		margin-top: 8rem !important;
		margin-bottom: 8rem !important;
	}

	.marwa-description {
		margin-top: 8rem !important;
		margin-bottom: 8rem !important;
	}

	.profile-pic2 {
		max-width: 30rem;
	}

	.profile-pic1 {
		max-width: 30rem;
	}

	/* Nos CM */

	.youtube-player {
		gap: 1rem;
		margin-top: 0;
		margin-bottom: 4.5rem;
	}

	.youtube-frame iframe {
		max-width: 35rem;
		max-height: 25rem;
	}

	.fiche-technique {
		max-width: 35rem;
	}

	/* Nous Contacter */

	.nous-contacter {
		margin-top: 0;
	}
	
	.nous-contacter p {
		width: 80%;
		margin: 0 auto 2rem;
	}

	.mail-bold {
		text-align: center;
	}
}
